$breakpoint-xs: 480px; /* Extra small devices (portrait phones) */
$breakpoint-sm: 768px; /* Small devices (landscape phones) */
$breakpoint-md: 992px; /* Medium devices (tablets) */
$breakpoint-lg: 1200px; /* Large devices (desktops) */
$breakpoint-xl: 1400px; /* Extra large devices (large desktops) */